<!doctype html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
  </head>
  <body>
    <div class="main-container">
          <p>Okely dokely!</p>
          <br>
          <form ref='uploadForm'
                id='uploadForm'
                action='/uploads'
                method='post'
                encType="multipart/form-data">
                <input type="text" name="project" value="Project name"/>
                <input type="file" name="upl" />
                <input type='submit' value='Upload!' />
          </form>
          <p class="responsivevoice">hell world</p>
          <ul>
          </ul>
          <a href="/sessions/logout">Logout</a>
        </div>
      </div>
    </div>
  </body>
</html>
