<!doctype html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="main-container">
      <div class="border-container">
        <h1>Super Secure Website</h1>
        <br>
        <div class="col-lg-6 center-block">
          <div class="alert alert-dismissible alert-warning">
            <h4>Welcome {{email}}!</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam tellus vitae nulla tristique, quis laoreet nulla fringilla.</p>
          </div>
          <p>Okely dokely!</p>
          <br>
          <form ref='uploadForm'
                id='uploadForm'
                action='/uploads'
                method='post'
                encType="multipart/form-data">
                <input type="file" name="upl" />
                <input type='submit' value='Upload!' />
              </form>
          <a href="/sessions/logout">Logout</a>
        </div>
      </div>
    </div>
  </body>
</html>
